.App {
  text-align: center;
  background-image: url('./images/background-image.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.content {
  display: flex;
  min-height: 85vh;
  align-items: center;
  justify-content: center;
}