body {
  margin: 0;
    font-family: cursive, arial , /* Windows, MacOS */ helvetica , /* Unix+X, MacOS */ sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: cursive, arial , /* Windows, MacOS */ helvetica , /* Unix+X, MacOS */ sans-serif;
}